@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Dominion Card Tracker</h1>
    <p>This is sample application to track Dominion cards created by <a href="http://www.swcguild.com">Software Craftmanship Guild</a>, if you attend here, you can learn to build data driven applications like this!</p>
    <p>@Html.ActionLink("Browse Cards", "Browse", "Cards", null, new {@class = "btn btn-primary btn-lg"})</p>

    <div class="row">
        <div class="col-md-4">
            <h2>Card Randomizer</h2>
            <p>Generate a random list of 10 cards to play a game with</p>
            <p>@Html.ActionLink("Randomizer »", "Random", "Cards", null, new { @class = "btn btn-lg" })</p>
        </div>
        <div class="col-md-4">
            <h2>About</h2>
            <p>Click the button below to go to the Dominion web site.</p>
            <p><a class="btn btn-lg" href="http://riograndegames.com/Game/278-Dominion" target="_blank">Visit Site &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Strategy</h2>
            <p>Check out this site of Dominion strategy</p>
            <p><a class="btn btn-lg" href="http://dominionstrategy.com/" target="_blank">Visit Site &raquo;</a></p>
        </div>
    </div>
</div>