@model IEnumerable<DominionCardTracker.Models.Tables.CardSet>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12">
        <h2>Card Set List</h2>
        <p>@Html.ActionLink("Create new", "Create")</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Card Set</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CardSetName)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.CardSetId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.CardSetId })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>